<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blogg.html">BLOGG</a></li>
        <li><a href="{{ site.baseurl }}prosjekter.html">PROSJEKTER</a></li>
        <li><a href="{{ site.baseurl }}styret.html">STYRET</a></li>
        <li><a href="{{ site.baseurl }}vedtekter.html">VEDTEKTER</a></li>
        <li><a href="{{ site.baseurl }}slack.html">SLACK</a></li>
        <li><a href="https://docs.google.com/forms/d/10QyDgzLyBh9TpBEpjlq4oCRm4YdYsfLF1z3XfqpDOL4/viewform">BLI MEDLEM</a></li>
      </ul>
    </div>
  </div>
</nav>
