<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}{% if page.lang != 'no'%}en/{% endif %}"><i class="fa fa-home" style="margin-right:15px;"></i></a>
      <a href="{% if page.lang != 'no' %}{{site.baseurl}}{% if page.id %}{% for post in site.posts %}{% assign sti = {{page.url | remove: '/'}} %}{% if post.en-version == sti %}{{post.url | remove: '/'}}{% endif %}{% endfor %} {% else %}{{page.path | remove: 'en/'}}{% endif %}{% endif %}">
         <img class="navbar-brand" src="{{ site.baseurl }}static/img/no_flag.png"></img>
      </a>
      <a href="{% if page.lang != 'en' %}{{site.baseurl}}{% if page.id %}{{ page.en-version }}{% else %}en/{{page.path}}{% endif %}{% endif %}">
         <img class="navbar-brand" style="cursor: pointer;" src="{{ site.baseurl }}static/img/en_flag.png"></img>
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}{% if page.lang != 'no' %}en/{% endif %}blogg.html">{% if page.lang == 'no' %}BLOGG{% else %}BLOG{% endif %}</a></li>
        <li><a href="{{ site.baseurl }}{% if page.lang != 'no' %}en/{% endif %}prosjekter.html">{% if page.lang == 'no' %}PROSJEKTER{% else %}PROJECTS{% endif %}</a></li>
        <li><a href="{{ site.baseurl }}{% if page.lang != 'no' %}en/{% endif %}styret.html">{% if page.lang == 'no' %}STYRET{% else %}BOARD MEMBERS{% endif %}</a></li>
        <li><a href="{{ site.baseurl }}vedtekter{% if page.lang != 'no' %}_en{% endif %}.html">{% if page.lang == 'no' %}VEDTEKTER{% else %}STATUTES{% endif %}</a></li>
        <li><a href="{{ site.baseurl }}slack{% if page.lang != 'no' %}_en{% endif %}.html">SLACK</a></li>
        <li><a href="{% if page.lang == 'no' %}https://docs.google.com/forms/d/10QyDgzLyBh9TpBEpjlq4oCRm4YdYsfLF1z3XfqpDOL4/viewform{% else %}https://docs.google.com/forms/d/e/1FAIpQLSdhFhlnQLzFjB6B7nUJGmMS4ptXAY7RVPdLHpZPPsasdNQNbw/viewform?c=0&w=1{% endif %}">{% if page.lang == 'no' %}BLI MEDLEM{% else %}BECOME A MEMBER{% endif %}</a></li>
      </ul>
    </div>
  </div>
</nav>
