<section id="styret">
<div class="container">
  <h3>{% if page.lang == 'no' %}Styret høst 2018{% else %}The board fall 2018{% endif %}</h3>
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="container member-grid">

        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/nikolas.jpg">
            <p class="member"><a href="https://github.com/nikolhm/" target="_blank">Nikolas Martin</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Styreleder{% else %}Chairman{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/øyvind.jpg">
            <p class="member"><a href="" target="_blank">Øyvind Løvskeid Taranrød</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Nestleder{% else %}Vice chairman{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/william.jpg">
            <p class="member"><a href="" target="_blank">William Arild Dahl</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Økonomiansvarlig{% else %}Treasurer{% endif %}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/saru.jpg">
            <p class="member"><a href="" target="_blank">Saru Subachandran</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Rekrutteringsansvarlig{% else %}Recruitment director{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/celine.jpg">
            <p class="member"><a target="_blank">Celine Victoria Berg-Hansen</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Arrangementsansvarlig{% else %}Event director{% endif %}</p>
          </div>

        <div class="col-sm-4 member">
          <img class="img-circle member-img" src="/static/img/board_members/h18/adnan.jpg">
          <p class="member"><a target="_blank">Adnan Alisa</a></p>
          <p class="member-title">{% if page.lang == 'no' %}Sosialt ansvarlig{% else %}HR{% endif %}</p>
        </div>

        </div>

        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/lucas.jpg">
            <p class="member"><a href="" target="_blank">Lucas Paruch</a></p>
            <p class="member-title">{% if page.lang == 'no' %}PR-ansvarlig{% else %}PR director{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/pernille.jpg">
            <p class="member"><a target="_blank">Pernille Jahre Sætre</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Grafisk ansvarlig{% else %}Graphics director{% endif %}</p>
          </div>


          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/board_members/h18/kai.jpg">
            <p class="member"><a href="" target="_blank" href="">Kai Jeu Chiem</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Webansvarlig{% else %}Web director{% endif %}</p>
          </div>
        </div>

        <div class="row row-centered">
          <div class="col-sm-4 member">
              <img class="img-circle member-img" src="/static/img/board_members/h18/dana.jpg">
              <p class="member"><a href="" target="_blank">Dana Zangana</a></p>
              <p class="member-title">{% if page.lang == 'no' %}Styremedlem{% else %}Board member{% endif %}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
