<section id="styret">
<div class="container">
  <h3>Styret høsten 2016</h3>
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="container member-grid">

        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="static/img/espen.jpg">
            <p class="member"><a href="http://github.com/espennaess" target="_blank">Espen Næss</a></p>
            <p class="member-title">Styreleder</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="static/img/kai.jpg">
            <p class="member"><a href="http://github.com/kaijc" target="_blank">Kai Chiem</a></p>
            <p class="member-title">Nestleder</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="static/img/thomas.jpg">
            <p class="member"><a href="http://github.com/TGulli" target="_blank">Thomas Gulli</a></p>
            <p class="member-title">Økonomiansvarlig</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="static/img/roy.jpg">
            <p class="member"><a href="http://royolav.net" target="_blank">Roy Olav Purser</a></p>
            <p class="member-title">Arrangementsansvarlig</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="static/img/robin.jpg">
            <p class="member"><a href="https://github.com/therobinsj" target="_blank">Robin Saleh-Jan</a></p>
            <p class="member-title">Kommunikasjonsansvarlig</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="static/img/gaute.jpg">
            <p class="member"><a href="http://gautesolheim.com" target="_blank">Gaute Solheim</a></p>
            <p class="member-title">Styremedlem</p>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
