<section id="styret">
<div class="container">
  <h3>{% if page.lang == 'no' %}Styret våren 2018{% else %}The board spring 2018{% endif %}</h3>
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="container member-grid">

        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/saru.jpg">
            <p class="member"><a  target="_blank">Sarujanthan Subaschandran</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Styreleder{% else %}Chairman{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/Dana.png">
            <p class="member"><a href="" target="_blank">Dana Aso Zangana</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Nestleder{% else %}Vice chairman{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/William.jpg">
            <p class="member"><a href="" target="_blank">William Arild Dahl</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Økonomiansvarlig{% else %}Treasurer{% endif %}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="">
            <p class="member"><a href="" target="_blank">Adnan Alisa</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Rekrutteringsansvarlig{% else %}Recruitment director{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="">
            <p class="member"><a target="_blank">Birashanthan Tharma</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Arrangementsansvarlig{% else %}Event director{% endif %}</p>
          </div>
<!--
        <div class="col-sm-4 member">
          <img class="img-circle member-img" src="/static/img/kuda.jpg">
          <p class="member"><a target="_blank">Kudakwashe Chambwe</a></p>
          <p class="member-title">{% if page.lang == 'no' %}Sosialt ansvarlig{% else %}HR{% endif %}</p>
        </div>
-->

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/lucas.jpg">
            <p class="member"><a href="" target="_blank">Lucas Paruch</a></p>
            <p class="member-title">{% if page.lang == 'no' %}PR-ansvarlig{% else %}PR director{% endif %}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/Nikolas.png">
            <p class="member"><a target="_blank">Nikolas Hemer Martin</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Grafisk ansvarlig{% else %}Graphics director{% endif %}</p>
          </div>


          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/espen.jpg">
            <p class="member"><a href="" target="_blank" href="http://github.com/espennaess" >Espen Næss</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Webansvarlig{% else %}Web director{% endif %}</p>
          </div>

          <div class="col-sm-4 member">
            <img class="img-circle member-img" src="/static/img/PWA.jpg">
            <p class="member"><a href="" target="_blank">Thach Khoi Pham</a></p>
            <p class="member-title">{% if page.lang == 'no' %}Styremedlem{% else %}Board member{% endif %}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
